<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>readerPage</servlet-name>
        <servlet-class>readerPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionLogin</servlet-name>
        <servlet-class>Session.SessionLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionLoginDetails</servlet-name>
        <servlet-class>Session.SessionLoginDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookServlet</servlet-name>
        <servlet-class>Controllers.EditBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBookServlet</servlet-name>
        <servlet-class>Controllers.ListBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBookServlet</servlet-name>
        <servlet-class>Controllers.InsertBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReaderServlet</servlet-name>
        <servlet-class>Controllers.ReaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowRecordServlet</servlet-name>
        <servlet-class>Controllers.BorrowRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>Controllers.StaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListReaderServlet</servlet-name>
        <servlet-class>Controllers.ListReaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStaffServlet</servlet-name>
        <servlet-class>Controllers.ListStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>Controllers.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditReaderServlet</servlet-name>
        <servlet-class>Controllers.EditReaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffServlet</servlet-name>
        <servlet-class>Controllers.EditStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>Controllers.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertReaderServlet</servlet-name>
        <servlet-class>Controllers.InsertReaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStaffServlet</servlet-name>
        <servlet-class>Controllers.InsertStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Controllers.AdminServlet</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>readerPage</servlet-name>
        <url-pattern>/readerPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionLogin</servlet-name>
        <url-pattern>/SessionLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionLoginDetails</servlet-name>
        <url-pattern>/SessionLoginDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookServlet</servlet-name>
        <url-pattern>/EditBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBookServlet</servlet-name>
        <url-pattern>/ListBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBookServlet</servlet-name>
        <url-pattern>/InsertBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReaderServlet</servlet-name>
        <url-pattern>/ReaderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowRecordServlet</servlet-name>
        <url-pattern>/BorrowRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/StaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListReaderServlet</servlet-name>
        <url-pattern>/ListReaderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStaffServlet</servlet-name>
        <url-pattern>/ListStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditReaderServlet</servlet-name>
        <url-pattern>/EditReaderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffServlet</servlet-name>
        <url-pattern>/EditStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertReaderServlet</servlet-name>
        <url-pattern>/InsertReaderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStaffServlet</servlet-name>
        <url-pattern>/InsertStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
   
</web-app>
